* { border: 0;
    font-size: 1rem;
}

.bg-black { background-color: #000000;}
.bg-blue {background-color: #3b82f6;}
.text-white {color: #ffffff;}

.flex { display:flex;}
.flex-col {flex-direction: column;}
.justify-center {justify-content: center;}
.items-center {align-items: center;}
.min-h-screen {min-height: 100vh;}

.px-6 {padding-left: 20px; padding-right: 20px;}
.py-3 {padding-top: 10px; padding-bottom: 10px;}

.rounded-md {border-radius: 10px;}

.text-xl {font-size: 24px;}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}